<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Instances</title>
</head>
<body>
<h1>The whole list of all instances</h1>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
    </tr>
    <tr th:each="instance : ${instances}">
        <td th:text="${instance.id}">1</td>
        <td th:text="${instance.name}">REA</td>
        <td th:text="${instance.address}">Moscow</td>
    </tr>
</table>

</body>
</html>